body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.container{
     max-width: 1200px;
     margin: 0 auto;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 2rem;
  border: 1px solid;
  box-sizing: border-box;
  margin-bottom: .5rem;
}

p{
  font-size: 1.5rem;
  cursor: pointer;
}


.b-yellow{
  background-color: rgb(236, 236, 200);
}
.b-green{
  background-color: rgb(134, 239, 134);
}

h3{
  border: 1px solid;
  padding:.5rem 1rem;
  background-color: aliceblue;
  margin-top: -1rem;
}




